@use "../variables" as *;

.workoutSessionForm {
    &Header {
        @include flexSpaceBetween;
        flex-shrink: 0;
    }
    &SourceWrap {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        flex: 1;
        max-width: 50%;
        gap: 0.25rem;
    }
    &Source {
        height: 20px;
        font-size: 0.75rem;

        &.active {
            background: $darkHighlightBg;
        }
    }
    &Exercises {
        &Header,
        &Item {
            display: grid;
            grid-template-columns: minmax(10rem, 1fr) 5rem 5rem 5rem 5rem;
            align-items: center;
        }
        &Header {
            padding: 0.5rem;
            border-block: $border;
        }

        &Item {
            padding: 0.5rem;
            border-bottom: $border;
        }
    }
}
