$primaryColor: rgb(34, 33, 33);
$secondaryColor: rgb(100, 100, 100);

$primaryBg: rgb(235, 235, 235);
$highlightBg: rgb(255, 255, 255);
$secondaryBg: rgb(220, 220, 220);
$darkHighlightBg: rgba(212, 212, 212);
$buttonOverlay: rgba(0, 0, 0, 0.15);

$red: rgb(165, 0, 0);
$green: darkgreen;

$border: 1px solid rgba(0, 0, 0, 0.25);
$borderLight: 1px solid rgba(0, 0, 0, 0.1);
$borderRadiusBig: 12px;
$borderRadius: 8px;
$borderRadiusSmall: 4px;
$headerHeight: 48px;

@mixin mobile {
    @media (max-width: 480px) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin landscape {
    @media (max-width: 1024px) {
        @content;
    }
}

@mixin latptop {
    @media (max-width: 1280px) {
        @content;
    }
}

@mixin desktop {
    @media (max-width: 1440px) {
        @content;
    }
}

@mixin column {
    display: flex;
    flex-direction: column;
}
@mixin flexSpaceBetween {
    display: flex;
    justify-content: space-between;
    
}
@mixin flex {
    display: flex;
    align-items: center;
}

// fonts

@mixin fontPrimary {
    font-size: 1rem;
    color: $primaryColor;
}
@mixin fontSecondary {
    font-size: 0.8125rem;
    color: $secondaryColor;
}
@mixin headingSecondarySmall {
    @include fontSecondary;
    font-weight: 500;
}
@mixin headingSecondaryMed {
    @include headingSecondarySmall;
    font-size: 1rem;
}
// fonts end

@mixin selectedItem {
    padding: 2px 4px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background-color: $primaryBg;
    border: $borderLight;
    border-radius: $borderRadiusSmall;
}

@mixin iconButton($size: 16px) {
    padding: 0;
    width: $size;
    min-width: $size;
    height: $size;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: $borderRadiusSmall;
    color: $primaryColor;
}
