@import "./variables";

section,
footer {
  padding: 2rem 0;
}

body {
    color: $primaryColor;
}

h2 {
    font-size: 1.375rem;
    font-weight: bold;
}
main {
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.page-title-section {
  padding: 1rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

header,
footer {
  background-color: #e3e3e3;
}

nav,
.section-content {
  margin: 0 auto;
  max-width: 1680px;
  width: 90%;
}

nav {
  padding: 0.5rem;

  ul {
    display: flex;
  }

  li {
    padding: 4px 8px;
    position: relative;
  }

  a {
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transition: background-color 0.2s linear;
    }

    &:hover::after,
    &.active::after {
      background-color: rgba(0, 0, 0, 0.2);
      cursor: pointer;
    }
  }
}

.page-title {
  font-size: 2rem;
  font-weight: bold;
}

button {
    position: relative;
    padding: 0 0.625rem;
    height: 40px;
    width: max-content;
    min-width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    line-height: 1;
    color: white;
    background-color: rgb(17, 17, 17);
    border-radius: $borderRadius;
    cursor: pointer;

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transition: background-color 0.2s linear;
      border-radius: inherit;
    }

    &:hover::after {
      background-color: rgba(0, 0, 0, 0.15);
      cursor: pointer;
    }

    span {
        margin-right: 0.5rem;
        font-size: 1.5rem;
    }
}

.button-secondary {
    color: $primaryColor;
    background-color: white;
    border: $border;
}

input, select {
    height: 36px;
    border: $border;
    border-radius: $borderRadius;
    color: $primaryColor;
    font-weight: 500;
}
input:not([type="checkbox"]),
select {
    padding: 0.4rem;
}
input[type="checkbox"] {
    width: 18px;
    height: 18px;
}
input[type=number] {
    width: 70px;
}
