@import "./variables";

$columnPadding: 1rem;
$titleFontSize: 1.5rem;
$titleLineHeight: 1.1;

@mixin sectionTitle {
    font-size: $titleFontSize;
    line-height: $titleLineHeight;
    font-weight: bold;
    color: $primaryColor;
}
@mixin metadata {
    display: flex;
    align-items: center;
    gap: 0.375rem;
    @include fontSecondary;
    font-weight: 500;
}

.workoutColumns {
    display: flex;
    justify-content: space-between;
    background-color: rgb(250, 250, 250);
    border: $border;
    border-radius: $borderRadiusBig;
}

.sidebar {
    padding: $columnPadding 0 1rem 0.5rem;
    width: 32%;
    border-right: $border;

    &Header {
        margin-bottom: 1rem;
        padding-right: 0.5rem;
        @include flexSpaceBetween;
        align-items: center;
    }
    &Title {
        @include sectionTitle;
    }
    &AddWorkoutBtn {
        @include buttonSm;
    }

    &ListWrap {
        max-height: calc(100vh - $headerHeight - $footerHeight - ($columnPadding * 2) - ($titleFontSize * $titleLineHeight));
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-width: thin;

        &::-webkit-scrollbar {
            width: 6px;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $secondaryBg;
            border-radius: $borderRadiusSmall;
        }
    }
    &List {
        padding-right: 0.5rem;
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
}

.workout {
    padding: 0.5rem 0.5rem 1rem;
    border: $border;
    border-radius: $borderRadius;
    background-color: $primaryBg;
    cursor: pointer;

    &.active {
        background-color: $highlightBg;
        border-color: #444;
        cursor: auto;
    }

    &Name {
        @include fontPrimary;
        font-size: 1.125rem;
        font-weight: bold;

        &Wrap {
            @include flex;
            gap: 1rem;
        }
    }
    &Top {
        margin-bottom: 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &TrackProgressBtn {
        @include iconButton(22px);
        background-color: $highlightBg;
    }
    &Bottom {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

    }
    &ExercisesAmount {
        display: flex;
        min-width: max-content;
        flex-shrink: 0;
        @include fontSecondary;
    }
    &LastDate {
        display: flex;
        flex: 1;
        min-width: 0;
        @include metadata;

        svg {
            min-width: 16px;
        }
    }
    &LastDateRecent {
        color: $green;
    }
    &LastDateLongAgo{
        color: $red;
    }
    
    &Controls {
        margin-top: 0.5rem;

        button {
            height: 30px;
            font-size: 0.875rem;
        }
    }
}
.details {
    padding: $columnPadding;
    padding-left: calc($columnPadding + 0.5rem);
    width: 68%;
    background-color: $highlightBg;
    border-radius: 0 $borderRadiusBig $borderRadiusBig 0;

    &Header {
        @include flexSpaceBetween;
        position: relative;

        &Left {
            flex: 1;
            min-width: 0;
        }
        &Right {
            flex-shrink: 0;
        }
    }
    &SourceControls {
        margin-bottom: 1rem;
        max-width: 950px;
        display: flex;
        align-items: center;
        gap: 10px;

        &Btn {
            @include buttonSm;
            border-radius: $borderRadiusSmall;

            &.active {
                background: $primaryBg;
            }
        }
    }
    &Source {
        @include headingSecondaryMed;
        padding: 0 0.5rem;
        margin-bottom: 0.625rem;
    }
    &NoDataMsg {
        @include headingSecondaryMed;
    }
    &MenuWrap {
        position: absolute;
        top: -14px;
        right: -14px;
    }

    &Title{
        margin-bottom: 1rem;
        @include sectionTitle;
    }
    
    &MetaData {
        margin-bottom: 1rem;
        @include metadata;
        line-height: 1;
    }
    &Exercises {
        @include column;
    }
    &ExercisesHeader,
    &Exercise {
        padding: 0.5rem;
        display: flex;
        justify-content: space-between;
        border-bottom: $border;


        // &:first-child {
        //     border-top: $border;
        // }

        &Name {
            @include fontPrimary;
            font-weight: 500;
        }
        &Volume {
            @include fontSecondary;
            font-size: 1rem;
        }
    }
    &ExercisesHeader {
        border-top: $border;
        background-color: $primaryBg;
    }
}
