@import "./variables";

.workout {
    padding: 0.5rem 0.5rem 1rem;
    width: calc(25% - 12px);
    border: solid 1px rgba(0,0,0,0.4);
    border-radius: $borderRadiusSmall;

    &List {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
    }

    &Name,
    &Exercises {
        padding-inline: 0.5rem;
    }
    &Name {
        margin-bottom: 0.5rem;
        padding-bottom: 0.5rem;
        border-bottom: $border;
        font-size: 1.25rem;
        line-height: 1;
    }
    &Exercises {
        margin-bottom: 1rem;
    }
    &Controls {
        padding-top: 1rem;
        border-top: $border;

        button {
            height: 30px;
            font-size: 0.875rem;
        }
    }
    &Tracking {

    }

    $formPadding: 0.75rem;
    &Session {
        padding: $formPadding 0;
        display: flex;
        flex-direction: column;
        gap: $formPadding;
        border: $border;
        border-radius: $borderRadius;
    }
    &SessionHeader {
        padding-bottom: $formPadding;
        border-bottom: $border;
    }
    &SessionHeader,
    &SessionExercise {
        padding-inline: $formPadding;
        display: grid;
        grid-template-columns: minmax(6rem, 1fr) 5rem 5rem 5rem 5rem;
        gap: 8px;
    }
}

.test {
    border: $border;
    padding: 1rem;
    margin: 1rem;
}

