@use "../../variables" as *;

.newWorkout {
    color: $primaryColor;

    &ExercisesWrap {
        border: $border;
        border-radius: $borderRadius;
    }
    &Exercises {
        padding: 10px;
        @include column;
        gap: 8px;
        overflow-y: auto;
    }
    &ExercisesHeader {
        padding: 8px 10px;
        border-bottom: $border;
        color: $secondaryColor;

        div:last-child {
            text-align: end;
        }
    }
    &ExercisesHeader,
    &Exercise {
        display: grid;
        grid-template-columns: minmax(6rem, 1fr) 3.5rem;
        gap: 8px;
    }
    &DeleteExercise {
        @include iconButton(36px);
        margin-left: auto;
        color: $red;
        border: $border;
        border-color: $red;
    }
}

.error {
    @include error;
}
