@use "../../variables.scss" as *;

.form {
    display: grid;
    gap: 1rem;
    width: 50%;
    max-width: 40rem;
    padding: 1.5rem;
    background: white;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.25);
    border-radius: $borderRadius;

    @include landscape {
        width: 80%;
    }
    @include tablet {
        width: 96%;
    }
}

.formActions {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}
