@use "../../variables.scss" as *;

.form {
    display: grid;
    gap: 1rem;
    min-width: min(90vw, 24rem);
    max-width: 50%;
    padding: 1.5rem;
    background: white;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.25);
    border-radius: $borderRadius;

    @include landscape {
        max-width: 80%;
    }
    @include tablet {
        max-width: 100%;
    }
    
    label {
        display: grid;
        gap: 0.25rem;
    }
}

.formActions {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}
