@use "../../variables" as *;

.searchableSelect {
    position: relative;
}

.fieldWrap {
    position: relative;
}

.searchInput {
    padding-right: 2.25rem;
}

.clearSelection {
    @include iconButton(16px, true);
    position: absolute;
    bottom: 10px; // half of input height substracted by half of button height
    right: 0.5rem;
}
